export function getFirebaseConfig() {
  let config = {
    apiKey: "<YOUR API KEYS>",
    authDomain: "<YOUR DOMAIN>.firebaseapp.com",
    databaseURL: "https:<YOUR DB URL>.firebaseio.com",
    storageBucket: "<YOUR STORAGE ID>.appspot.com"
  };

  return config;
}
